.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 10%;
    background-color: transparent;
}

li {
    list-style: none;
}

.rs-sidenav-subtle {
    background-color: transparent !important;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: "NTR", sans-serif;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 22px;
    padding: 0.3em;
    font-weight:500;
}

.sidebar-links a {
    text-decoration: none !important;
    color: var(--green-bright) !important;
}

.sidebar-links a:hover {
    color: var(--lightest-slate) !important;
}

.sidebar-links a:focus {
    color: var(--lightest-slate) !important;
}

@media only screen and (max-width: 600px) {
    .sidebar-nav {
      width: 100%;
      /* height: 50px; */
    }
  
    .sidebar-links {
      padding-left: 20px;
      flex-direction: row;
      text-align: right;
      font-size: 9px;
    }
}
  
@media only screen and (max-width: 600px) {
    .sidebar-nav {
      /* position: sticky;
      align-items: center; */
    }
}